<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Forgot Password </h2>
            <p>Enter the email address for your ZipRecruiter account below and we will email you a link to reset your password. </p>
            <form action="">
                <input class="form-control" type="text" placeholder="Email Address" aria-label="default input example">
                <button type="submit" class="btn">Reset Password </button>
            </form>
            <a id="forgotPasswordLink" routerLink="/login">
                Go to Sign In
              </a>
        </div>
    </div>
</div>
