<header class="sticky-lg-top">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col col-lg-2">
                <div class="logo">
                    <a routerLink="">
                        <img src="/assets/logo.svg">
                    </a>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >Job Seekers</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Search Jobs</a></li>
                        <li><a class="dropdown-item" href="#">Search Salaries</a></li>
                        <li><a class="dropdown-item" href="#">Job Seeker Reviews</a></li>
                        <li><a class="dropdown-item" href="#">Get the App</a></li>
                        <li><a class="dropdown-item" href="#">Create Free Account</a></li>
                        <li><a class="dropdown-item" href="#">Job Seeker Support</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >Small & Medium Businesses</a>
                      <ul class="dropdown-menu">
                        <p class="employee_count">1 - 5,000 Employees</p>
                        <li><a class="dropdown-item" href="#">Post a Job</a></li>
                        <li><a class="dropdown-item" href="#">How it Works</a></li>
                        <li><a class="dropdown-item" href="#">Employer Reviews</a></li>
                        <li><a class="dropdown-item" href="#">Plans</a></li>
                        <li><a class="dropdown-item" href="#">Employer Support</a></li>
                        <li><a class="dropdown-item" href="#">Job Seeker Support</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >Enterprise Businesses</a>
                      <ul class="dropdown-menu">
                        <p class="employee_count">5,000+ Employees</p>
                        <li><a class="dropdown-item" href="#">Enterprise Overview</a></li>
                        <li><a class="dropdown-item" href="#">How it Works</a></li>
                        <li><a class="dropdown-item" href="#">Customer Stories</a></li>
                        <li><a class="dropdown-item" href="#">Frequently Asked Questions</a></li>
                        <li><a class="dropdown-item" href="#">Request a Consultation</a></li>
                      </ul>
                    </li>
                  </ul>
              </div>
              <div class="col secondary-area">
                <div class="secondary-nav">
                    <a href="#" class="post-job">Post a Job</a>
                    <a routerLink="login" class="sign-in">Sign In</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</header>