.login-page{
    background-color: #f6f7f8;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
    overflow-y:auto;
}
.login-page .container-sm{
    text-align: center;

}
.login-page .sign-in{
    margin: auto;
    max-width: 500px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 6px rgb(0 0 0 / 10%);
    border-radius: 6px;
    max-width: 100%;
    padding: 25px;
    width: 500px;
}
.login-page .sign-in h2{
    color: #2f3639;
    margin-bottom: 30px;
}
.login-page .sign-in .nav-pills{
    justify-content: center;
}
.login-page .sign-in .nav-pills .nav-item .nav-link.active{
    position: relative;
    margin-bottom: 30px;
    background-color: transparent!important;
    color: #2f3639!important;
    font-weight:bold;
}
.login-page .sign-in .nav-pills .nav-item .nav-link.active::after{
    border-radius: 4px 4px 0 0;
    content: " ";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    bottom: -11px;
    width: 100%;
    transition: all .08s linear;
    background-color: #277f6a;
}
.login-page .sign-in .nav-pills .nav-item .nav-link{
    position: relative;
    margin-bottom: 30px;
    background-color: transparent!important;
    color: #5d676b!important;
}
.login-page .sign-in a{
    text-decoration: none;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 15px;
    margin-top: 25px;
}
.login-page .sign-in form input{
    border-radius: 0;
    margin-bottom: 15px;
}
.login-page .sign-in form button{
    letter-spacing: 0;
    display: inline-block;
    text-decoration: none;
    text-shadow: none;
    -webkit-appearance: none;
    transition: background-color .1s linear,border-color .1s linear;
    vertical-align: middle;
    text-align: center;
    border-radius: 2em;
    outline: 0;
    font-family: Arial,sans-serif;
    color: #fff;
    background: #277f6a none;
    border: 1px solid #f6f7f8;
    max-width: 360px;
    font-weight: 700;
    padding: 11px 50px;
    line-height: 24px;
    white-space: normal;
    width: auto;
    font-size: 17px;
    max-width: 240px;
    width: 100%;
    margin-top: 20px;
}
.register-link{
    font-size: 0.8rem;
}