<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Sign In</h2>
            <form >
                <input class="form-control" type="text" placeholder="Your Name" formControlName="name">
                <input class="form-control" type="text" placeholder="Email Address" formControlName="email">
                <p>Candidates that apply to your job will be sent to this email</p>
                <input class="form-control" type="password" placeholder="Create Password" formControlName="password">
                <p>Minimum 8 characters</p>
                <input type="hidden" formControlName="platformType">
                <button type="submit" class="btn">Get Started </button>
            </form>
        </div>
    </div>
</div>