<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Change Password</h2>
            <form action="">
                <input class="form-control" type="text" placeholder="Old Password" aria-label="default input example">
                <input class="form-control" type="text" placeholder="New Password" aria-label="default input example">
                <input class="form-control" type="text" placeholder="Confirm Password " aria-label="default input example">
                <button type="submit" class="btn">Submit</button>
            </form>
            <a id="forgotPasswordLink" routerLink="/login">
                Go to Sign In
              </a>
        </div>
    </div>
</div>