<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h3>What job are you looking for next?</h3>
            <p>We’ll help you get recruited by reaching out when jobs match your profile.</p>
            <form action="">
                <input class="form-control" type="text" placeholder="Job Title or Keyword" aria-label="default input example">
                <input class="form-control" type="text" placeholder="City, State or ZIP" aria-label="default input example">
                <button type="submit" class="btn">Continue </button>
            </form>
        </div>
    </div>
</div>
