<div class="login-page">
    <div class="container-sm">
        <div class="sign-in">
            <h2>Sign In</h2>
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="login">I'm an Employer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  routerLink="login">I'm a Job Seeker</a>
                </li>
            </ul>
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <input class="form-control" type="text" placeholder="Email Address" formControlName="email">
                <input class="form-control" type="password" placeholder="Password" formControlName="password">
                <input type="hidden" formControlName="platformType">
                <button type="submit" class="btn">Login </button>
            </form>
            <a routerLink="/forget">
                Forgot Password?
            </a>
            <a routerLink="/activate-email">
              Activate Email?
            </a>
            <a routerLink="/change-password">
              Change Password?
            </a>
            <p class="register-link">
              New to ZipRecruiter?
              <a routerLink="/register">
                Create a job seeker profile
              </a>
            </p>
        </div>
    </div>
</div>