<div class="banner-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4">
                <div class="row caption-text">
                    <div class="col-lg-12">
                        <h2>
                            Like a personal recruiter, ZipRecruiter did the legwork for me
                        </h2>
                        <p>
                            Finding a job shouldn’t be a full-time job. Tell us what you’re looking for and we’ll get to work for you.
                        </p>
                        <a href="#" class="get-started">
                            Get Started
                        </a>
                        <a href="#" class="hiring">
                            Hiring? Post Jobs for Free.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
